
form.form.m-1 {
    height: 400px;
    width: 350px;
    background-color: #FFFFFF40;
}

div.background.d-flex {

    background-color: #DAE4F9;
}
 
/* Buttons For Log In page */
button.btn-grad.btn {
    background-image: linear-gradient(to right, #1D2B64 0%, #F8CDDA  51%, #1D2B64  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    
}

button.btn-grad.btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

a.btn-grads.btn {
    background-image: linear-gradient(to right, #DAE2F8 0%, #D6A4A4  51%, #DAE2F8  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

a.btn-grads.btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;

}

/* Buttons For sign Up page */
button.btn-grads.btn {
    background-image: linear-gradient(to right, #DAE2F8 0%, #D6A4A4  51%, #DAE2F8  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

button.btn-grads.btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;

}

a.btn-grad.btn {
    background-image: linear-gradient(to right, #1D2B64 0%, #F8CDDA  51%, #1D2B64  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    
}

a.btn-grad.btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

